.create-assignment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1.5rem 3rem;
    padding-top: 80px;

    label {
        display: block;
    }

    form {
        > div {
            margin-bottom: 1rem;
        }

        textarea {
            width: calc(100% - 20px);
        }
    }
}