.create-assignment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1.5rem 3rem;
    padding-top: 80px;

    label {
        display: block;
    }

    ul {
        list-style: none;
        margin: 0;
    }

    #addMultipleChoice {
        display: none;
    }

    #addCodingExercise {
        display: none;
    }

    .multiple-choice {
        li {
            position: relative;
        }

        &__add-question {
            margin: 20px 0;
        }

        &__remove-question {
            float: right;
        }

        &__remove-answer {
            position: absolute;
            right: 9px;
            top: 7px;
            display: block;
            font-size: 1.5rem;
            background: white;
            padding: 4px 10px;
        }

        &__question {
            background: $highlight;
            padding: 0 10px;
        }

        &__answers {
            background: $highlight-invert;
            margin-bottom: 10px;
        }
    }

    .file-type {
        &__file {
            background: $highlight;
            padding: 0 10px;
            margin-bottom: 10px;
        }

        &__controls {
            clear: both;
            margin-bottom: 20px;
        }
    }
}
