body {
    background: $light-gray;
    margin: 0;
}

wrapper {
    > .container {
        padding-top: 30px;
    }
}

.create {
    margin-top: 0;

    textarea {
        min-height: 100px;
        padding: 5px;
    }

    select {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: white;
    }

    label {
        margin-top: 10px;
    }

    .btn {
        margin-top: 20px;
    }
}

.single-assignment {
    p {
        font-size: 13px;
    }
}
